/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* Start of CSS RESET*/
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{margin:0; padding:0; border:0; font:inherit; vertical-align: baseline }article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block} html{line-height:1} body{line-height:inherit} ol, ul{list-style:none} blockquote, q{quotes:none}blockquote:after, blockquote:before, q:after, q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

a:link, a:visited {
  text-decoration: none;
}
/* End of CSS reset*/

body {
  background: linear-gradient(#000000, #434343) fixed;
  color: white;
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.2em;
}

#top-menu {
  /*This the "Contact Information" on the website*/
  padding: 0.5em;
  border: solid;
}

#contact-list {
  /* The content of the dropdown contact Information */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}

.contact-options {
  background-color: white;
  border-radius: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em 2em 1em 2em;
}



#email, #social {
  /*This the options under the "contact Information"*/
  text-decoration: underline;
  color: #7CFC00;
}

#contact-info {
  /*The contact button*/
  width: 9em;
  background-color: white;
  border-radius: 2em;
  color: black;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 1em 2em 1em 2em;
}

h1 {
  /*h1 are needed for each article, but I don't need it for now.*/
  /* display: none; */
  padding: 1em;
  font-size: 1.3em;
}
h2 {
  /* text-decoration: underline; */
  line-height: 1em;
  font-size: 2em;
  /* margin: 0.8em; */
}
/*-------Index CSS---------------------------------------------*/
#introduction {
  line-height: 1.5em;
  /* border: solid; */
  padding: 0.5em;
  text-align: center;
}
#short-intro {
  /* This is the welcoming paragraph when visitors first see my site.*/
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.2em;
}

#options-list {
  /* This is list of picture options "Cars, Robotics, Maker Space"*/
  border: solid;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid;
}

.options {
  /* These are the picture options themselves*/
  max-width: 100%;
}
.options:hover {
  transform: scale(0.8);
  transition: transform 0.1s ease-in;
}
/*-------End of Index CSS----------------------------------*/


/*section positioning inside the articles*/
/* #first-section, #second-section, #third-section {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
} */


/*-------Shared---------------------------------------*/
#sub-section {
  border: solid;
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#sub-list {
  /* border: solid; */
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
}
.sub-option {
  border-radius: 2em;  /*this makes the "button curve"*/
  padding: 1em 2em 1em  2em ;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: gray;
}
.sub-option:hover {
  background-color: white;
  transform: scale(0.8);
  transition: transform 0.1s ease-in;
}

/*------End of Shared---------------------------------*/

/*-----------------Automotive's CSS-----------------*/
#automotive {
  /* This the entire automotive part of the site.*/
  border: solid;
  border-radius: 1em;
  border-color: white;
  background-color: gray;
}
.auto-paragraph {
  /* This the automotive paragraphs*/
  padding: 2em;
}
.auto-image {
  /*image with the auto paragraph*/
  max-width: 100%;
}
.auto-cap, .robot-cap, .maker-cap {
  text-decoration: underline;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  color: black;
}
#first-section {
  /* These are each section inside each article*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
/*-----------------End of Automotive's CSS------------------*/


/*------------------Robotics's CSS--------------------------*/
.robot-cap {
  color: white;
}
#robot {
  /* This the entire robotics part of the site.*/
  /* background-color: gray; */
  /*background color is default to the body's color*/
  border: solid;
  border-radius: 1em;
}
.robot-paragraph {
  /* This the robotics paragraphs*/
  padding: 2em;
}

.hyper-link {
  color: #7CFC00;
}

.robot-image {
  /*image with the robotics paragraph*/
  max-width: 100%;
}

#second-section {
  /* These are each section inside each article*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
/*------------------End of Robotics's CSS-------------------*/




/*---------------MakerSpace's CSS---------------------------*/
#makerspace {
  /* This the entire makerspace part of the site.*/
  border: solid;
  border-radius: 1em;
  background-color: gray;
}
.maker-paragraph {
  /*image with the makerspace paragraph*/
  padding: 2em;
}

.maker-image {
  /*image with the makerspace paragraph*/
  max-width: 100%;
}

#third-section {
  /* These are each section inside each article*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
/*---------------End of MakerSpace's CSS---------------------*/

/*---------------Contact--------------------------------------*/



/*----------------End of Contact's CSS------------------------*/


/*--------------------Footer's CSS---------------------------*/
#foot-list {
  /*images in the footer tag*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: solid; */
}

.foot-image {
  max-width: 45%;
  /* border: solid; */
}
/*--------------------End of Footer's CSS--------------------*/
